*{
    padding: 0;
    margin: 0;
}

textarea, input {
     outline: none; 
}

.top-right{
    text-align: center;
}
@media only screen and (max-width: 768px){
	.top-right{
        text-align: left;
    }
}