{% extends 'partials/structure.html' %}


{% block items %}

    {% if has_search and search_count > 0 %}
        <h1 class="mb-5">You search for "{{ searched }} | {{ search_count }}"</h1>
        {% for task in tasks %}        
            {% if task.completed == False %}
                {% include 'partials/row_item.html' %}
            {% endif %}
        {% endfor %}

        {% if completed_count > 0 %}
            <h3 class="mt-5 mb-3">Completed <span class="px-3 py-1 rounded-circle bg-dark text-white">{{ completed_count }}</span></h3>
            {% for task in completed %}
                {% include 'partials/row_item.html' %}
            {% endfor %}
        {% endif %}
    {% else %}
        <h3>Not many great matches came back for your search "<span class="fw-bold">{{ searched }}</span>"</h3>    
        <ul>
            <h3><li>Try more general keywords</li></h3>
            
            {% if searched|length > 20 %}
                <h3><li>Try fewer keywords</li></h3>  
            {% elif searched|length < 5 %}                                          
                <h3><li>Try more keywords</li></h3>              
            {% endif %}                
                
        </ul>
    {% endif %}

{% endblock items %}
    