{% extends 'partials/base.html' %}
{% load tz %}


{% block content %}
    <div class="container">
        <h2 class="mb-3">Update Item</h2>
        <form method="POST">
            {% csrf_token %}
            {{ todo_form.as_p }}
            <p>Date: {{ task_created|date:'F j, Y' }}</p>
            <!-- <a href="{% url 'home' %}" name="next" value="{{ request.GET.next }}" class="btn btn-secondary btn-sm">Back</a> -->
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-sm">Back</a>
            <input type="submit" value="Update" class="btn btn-warning btn-sm">
        </form>
    </div>
{% endblock content %}
    